{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<header class="bgimgres masthead">
    <div class="container">
        <div class="intro-text">
        <div class="intro-lead-in">Your Trip Result</div>
        <div class="intro-lead-in">Perkiraan Biaya: {{price}} - {{price_max}}</div>
        <div class="intro-lead-in">Pada Tanggal: {{input.tanggal}}</div>
        <div class="intro-lead-in">Dimulai dari: {{input.start_point}}</div>
        <div class="row">
            <div class="col-md-6"><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" onClick="history.go(0)">Refresh Trip</a></div>
            <div class="col-md-6 button-mobile-fix"><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/search">Isi Ulang Form</a></div>
        </div>
        </div>
    </div>
</header>

<!-- About -->
<section id="about" class="bg-light"  style="padding-top: 5%;padding-bottom:5% ">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                {% for i in trips %}
                <li {% if forloop.counter|divisibleby:2%} class="timeline-inverted" {% endif %}>
                    {% if i.type == "init" %}
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'img/init.png' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{i.initial_time}}: {{i.objects.start_point}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <p>Nama: {{input.start_point}}</p>
                                    <p>Latitude: {{i.objects.pos_lat}}</p>
                                    <p>Longitude: {{i.objects.pos_lon}}</p>
                                    <p>Tipe Transportasi: {{i.objects.transport}}</p>
                                    <p>Preferensi Waktu Selesai: {{i.objects.jam_end}}</p>
                                    <p>Menginap 1 Malam : {{i.objects.menginap}}</p>
                                </p>
                            </div>
                        </div>
                    {% elif i.type == 'transportation' %}
                        <div class="timeline-image">
                            {% if input.transport == "gojek" %}
                                <img class="rounded-circle img-fluid" src="{% static 'img/goride.png' %}" alt="">
                            {% elif input.transport == "gocar" %}
                                <img class="rounded-circle img-fluid" src="{% static 'img/gocar.png' %}" alt="">
                            {% elif input.transport == "taxi" %}
                                <img class="rounded-circle img-fluid" src="{% static 'img/taxi.png' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{i.initial_time}}-{{i.end_time}}: Perjalanan Ke Tempat Selanjutnya</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <p>Jarak: {{i.distance}} KM</p>
                                    <p>Durasi Perjalanan: {{i.minute}} Menit</p>
                                    <p>Harga: {{i.price}}</p>
                                </p>
                            </div>
                        </div>
                    {% elif i.type == 'Tempat Wisata' %}
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'img/ticket.png' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{i.initial_time}}-{{i.end_time}}: {{i.objects.name}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <p>Nama Tempat Wisata: {{i.objects.name}} </p>
                                    <p>Alamat: {{i.objects.address}}</p>
                                    <p>Harga: {{i.objects.price_min}} - {{i.objects.price_max}}</p>
                                </p>
                                <a class="btn btn-primary" data-toggle="modal" href="#portfolioModal{{i.order}}" role="button">Location Details</a>
                            </div>
                        </div>
                    {% elif i.type == 'Restoran' %}
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'img/food.png' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{i.initial_time}}-{{i.end_time}}: {{i.objects.name}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <p>Nama Restoran: {{i.objects.name}} </p>
                                    <p>Alamat: {{i.objects.address}}</p>
                                    <p>Harga: {{i.objects.price}}</p>
                                </p>
                                <a class="btn btn-primary" data-toggle="modal" href="#portfolioModal{{i.order}}" role="button">Location Details</a>
                            </div>
                        </div>
                    {% elif i.type == 'Hotel' %}
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'img/hotel.png' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{i.initial_time}}-{{i.end_time}}: {{i.objects.name}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <p>Nama Hotel: {{i.objects.name}} </p>
                                    <p>Alamat: {{i.objects.address}}</p>
                                    <p>Harga: {{i.objects.price}}</p>
                                </p>
                                <a class="btn btn-primary" data-toggle="modal" href="#portfolioModal{{i.order}}" role="button">Location Details</a>
                            </div>
                        </div>
                    {% else %}
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{% static 'img/finish.png' %}" alt="">
                    </div>
                    </div>
                    {% endif %}
                </li>
                {% endfor %} 
            </ul>
        </div>
        </div>
    </div>
</section>

{% for i in trips %}
{% if i.type == "Restoran" %}
<div class="portfolio-modal modal fade" id="portfolioModal{{i.order}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content" style="padding-bottom:1%;padding-top: 100px; max-width:95%">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">{{i.objects.name}}</h2>
                    <p class="item-intro text-muted">{{i.objects.desc}}</p>
                    <img class="img-fluid d-block mx-auto" src="{{i.objects.img_URL}}" alt="">
                    <ul class="list-inline">
                        <li>Alamat: {{i.objects.address}}</li>
                        <li>Harga: {{i.objects.price}}</li>
                        <li>Waktu Rata - rata di i.objects:  {{i.objects.time_minute}}</li>
                        <li>Jam Buka Tutup Hari Biasa: {{i.objects.weekday_from_hour}} - {{i.objects.weekday_to_hour}}</li>
                        <li>Jam Buka Tutup Akhir Pekan: {{i.objects.weekend_from_hour}} - {{i.objects.weekend_to_hour}}</li>
                    </ul>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Close Description</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
</div>
{% elif i.type == "Tempat Wisata" %}
<div class="portfolio-modal modal fade" id="portfolioModal{{i.order}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content" style="padding-bottom:1%;padding-top: 100px">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">{{i.objects.name}}</h2>
                    <p class="item-intro text-muted">{{i.objects.desc}}</p>
                    <img class="img-fluid d-block mx-auto" src="{{i.objects.img_URL}}" alt="">
                    <ul class="list-inline">
                        <li>Alamat: {{i.objects.address}}</li>
                        <li>Harga: {{i.objects.price_min}} - {{i.objects.price_max}}</li>
                        <li>Waktu Rata - rata di Tempat Wisata:  {{i.objects.time_minute}}</li>
                        <li>Jam Buka Tutup Hari Biasa: {{i.objects.weekday_from_hour}} - {{i.objects.weekday_to_hour}}</li>
                        <li>Jam Buka Tutup Akhir Pekan: {{i.objects.weekend_from_hour}} - {{i.objects.weekend_to_hour}}</li>
                    </ul>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Close Description</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>
</div>
{% elif i.type == "Hotel" %}
<div class="portfolio-modal modal fade" id="portfolioModal{{i.order}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content" style="padding-bottom:1%;padding-top: 100px">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">{{i.objects.name}}</h2>
                    <p class="item-intro text-muted">{{i.objects.desc}}</p>
                    <img class="img-fluid d-block mx-auto" src="{{i.objects.img_URL}}" alt="">
                    <ul class="list-inline">
                        <li>Alamat: {{i.objects.address}}</li>
                        <li>Harga: {{i.objects.price}}</li>
                        <li>Bintang: {{i.objects.hotel_star}}</li>
                    </ul>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Close Description</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
</div>
{% else %}
<!-- Do  Nothing cuz it is init or transportation -->
{% endif %}
{% endfor %}
{% endblock %}