{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<header class="bgimgsearch masthead">
    <div class="container">
        <div class="intro-search">
        <div class="intro-lead-in">Please fill the form below</div>
        <!-- Form --> 
        <!-- 6.1950° S, 106.8198°  - GI (Jakpus) -->
        <!-- 6.2442° S, 106.7835°  - Gancit(Jaksel) -->
        <!-- 6.1457° S, 106.8923°  - MAG (Jakut) -->
        <!-- 6.2911° S, 106.8817°  - Tamini(Jaktim) -->
        <!-- 6.1777° S, 106.7911°  - CP(Jakbar) -->
        <!-- 6.188011° S 106.738755°  - Lippo Mall Puri -->
        <form class="p-3" method = "post" action="submit/" >    
            {% csrf_token %}
            <div class="form-group">
                <label for="startPoint">Dimana Titik Awal Mulai Anda?</label>
                <p><a href="https://www.latlong.net/">Visit latlong.net for Latitude and Longitude for manual input</a></p>
                <select class="form-control" id="startPoint" name="startPoint" required>
                      <option value="">Select Starting Point..</option>
                      <option value="Grand Indonesia">Grand Indonesia (Jakarta Pusat)</option>
                      <option value="Gandaria City">Gandaria City (Jakarta Selatan)</option>
                      <option value="Mall Artha Gading">Mall Artha Gading (Jakarta Utara)</option>
                      <option value="Tamini Square">Tamini Square (Jakarta Timur)</option>
                      <option value="Mall Central Park">Mall Central Park (Jakarta Barat)</option>
                      <option value="Lippo Mall Puri">Lippo Mall Puri (Jakarta Barat)</option>
                      <option value="Titik yang Anda Tentukan">Isi Manual Titik Awal</option>
                </select>
              </div>
              <div class="form-group" id="latLongGroup">
                <div class="row">
                  <div class="col-6">
                    <label for="lat">Latitude:</label>
                    <input type="text" name="lat-init" class="form-control" placeholder="Enter your initial latitude" id="latInit">
                  </div>
                  <div class="col-6">
                    <label for="long">Longitude:</label>
                    <input type="text" name="long-init" class="form-control" placeholder="Enter your initial longitude" id="longInit">
                  </div>
                </div>
              </div>
            <div class="form-group">
              <label for="seeAnotherField">Apakah Anda Menginap di hotel 1 Malam?</label>
              <select class="form-control" id="seeAnotherField" name="seeAnotherField">
                    <option value="no">Tidak</option>
                    <option value="yes">Ya!</option>
              </select>
            </div>
            <div class="form-group" id="otherFieldDiv">
              <label for="otherField">Pilihan Bintang Hotel:</label>
              <select class="form-control" id="otherField" name="otherField">
                  <option value="">Select Hotel Star..</option>
                  <option value="3">3 Star</option>
                  <option value="4">4 Star</option>
                  <option value="5">5 Star</option>
                  <option value="3,4">3 Star Or 4 Star</option>
                  <option value="4,5">4 Star Or 5 Star</option>
                  <option value="3,4,5">All</option>
              </select>
            </div>
            <div class="form-group">
                <label for="datetimepicker4">Tanggal Mulai Trip</label>
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                    <input type="text" name="tanggal" class="form-control datetimepicker-input" data-target="#datetimepicker4"/ required>
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
              </div>
            <div class="form-group">
                <label for="initTime">Jam Mulai Hari Trip</label>
                <div class="input-group date" id="initTime" data-target-input="nearest">
                    <input type="text" name="jam-awal" class="form-control datetimepicker-input" data-target="#initTime"/ required>
                    <div class="input-group-append" data-target="#initTime" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="maxTime">Jam Selesai Hari Trip</label>
                <div class="input-group date" id="maxTime" data-target-input="nearest">
                    <input type="text" name="jam-akhir" class="form-control datetimepicker-input" data-target="#maxTime"/ required>
                    <div class="input-group-append" data-target="#maxTime" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <label for="transport">Transportation Choices</label>
            <div class="form-group">
              <div class="btn-group btn-group-toggle" data-toggle="buttons"> 
                  <label class="btn btn-info active">
                    <input type="radio" name="transport" id="transport" autocomplete="off" value="gojek" checked> Go-Jek
                  </label>
                  <label class="btn btn-info">
                    <input type="radio" name="transport" id="transport" autocomplete="off" value="gocar"> Go-car
                  </label>
                  <label class="btn btn-info">
                    <input type="radio" name="transport" id="transport" autocomplete="off" value="taxi"> Taxi
                  </label>
              </div>
            </div>            
            <input  type="submit" class="btn btn-primary"> 
          </form>
        </div>
    </div>
</header>
{% endblock %}