body, html {
height: 100%;
margin: 0;
}

.bgimg {
background-image: url('/static/img/jkt.jpg');
height: 100%;
background-position: center;
background-size: cover;
position: relative;
color: white;
font-family: "Courier New", Courier, monospace;
font-size: 25px;
}

header.bgimg2 {
background-image: url('/static/img/jkt2.jpg');
}

header.bgimgresto {
background-image: url('/static/img/resto.jpg');
}

header.bgimghotel {
background-image: url('/static/img/hotel.jpg');
}

header.bgimgattr {
background-image: url('/static/img/attr.jpg');
}

header.bgimgsearch {
background-image: url('/static/img/search.jpg');
}

header.bgimgres {
background-image: url('/static/img/result.jpg');
}

.topleft {
position: absolute;
top: 0;
left: 16px;
}

.bottomleft {
position: absolute;
bottom: 0;
left: 16px;
}

.middle {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

hr {
margin: auto;
width: 40%;
}

.pagination-mobile-fix {
    padding-left: 10%;
}

@media screen and (max-width: 576px) {
    .button-mobile-fix {
      padding-top: 1%;
      padding-bottom: 1%;
    }
}

@media screen and (max-width: 768px) {
    .pagination-mobile-fix {
      padding-left: 5%;
    }
    html{
        overflow-x: hidden;
      }
}