{% load staticfiles %} 
{% load static %}

<footer class="container-fluid text-center">
    <p><a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a></p>
    <p>© 2019 Copyright: <a href="http://liburan-cerdas.herokuapp.com/">ShinoChika - Fasilkom UI</a> (Agas, Ammar, Ervan)</p>  
    <p>Service Used:</p>
    <p><a href="https://gitlab.com/agasyan/liburan-cerdas"><img src="{% static "img/gitlab.png" %}" alt="gitlab" style="width: 100px"></a>
    <a href="https://developer.tomtom.com"><img src="{% static "img/tomtom.png" %}" alt="tomtom" style="width: 100px"></a>
    <a href="https://www.heroku.com/"><img src="{% static "img/heroku.svg" %}" alt="heroku" style="width: 100px"></a></p>
  </footer>
  </div>
  
  