{% load staticfiles %} 
{% load static %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <img id="logo-navbar" class="navbar-brand" href="#page-top" src="{% static 'img/logo-trsp.png' %}"></img>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
            <a class="nav-link {{response.activeHome}}" href="/home">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link {{response.activeDatabase}}" href="/database">Database</a>
            </li>
            <li class="nav-item">
            <a class="nav-link {{response.activeSearch}}" href="/search">Search</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
  