{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<header class="masthead">
    <div class="container">
        <div class="intro-text">
        <div class="intro-lead-in">Welcome To Liburan-Cerdas</div>
        <div class="intro-heading text-uppercase">A Portal to Plan Your Trip in Jakarta</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/search">Plan My Trip</a>
        </div>
    </div>
</header>

<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About This Project</h2>
        </div>
        </div>
        <div class="row">   
            <div class="col-sm-8">
                <p><br>Liburan Cerdas (atau disingkat LC) adalah suatu layanan berbasis
                 website yang dibuat oleh kelompok kami, ShinoChika, yang berfungsi
                  sebagai itinerary perjalanan wisata. itinerary sendiri adalah sebuah 
                  jadwal perjalanan & kegiatan yang akan dilakukan pada tanggal yang 
                  sudah direncanakan sebelumnya. Itinerary yang kami buat merupakan itinerary 
                  yang berfokus pada tempat wisata yang berada di sekitar DKI Jakarta baik 
                  di luar maupun di dalam. </p><br>
            </div>
            <div class="col-sm-4">
                <img src="{% static "img/jkt.png" %}" alt="Jakarta"  class="img-responsive center-block"  height="75%" width="100%">
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Team</h2>
          <h3 class="section-subheading text-muted">ShinoChika - Liburan Cerdas</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static "img/agas.jpg" %}" alt="">
            <h4>Agas Yanpratama</h4>
            <p class="text-muted">Full Stack Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://gitlab.com/agasyan">
                  <i class="fab fa-gitlab"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/agasyan">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/agasyan/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static "img/ervan.png" %}" alt="">
            <h4>Ervan Adiwijaya Haryadi</h4>
            <p class="text-muted">Backend Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://gitlab.com/Ervan.Adiwijaya">
                  <i class="fab fa-gitlab"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/ravenyad/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static "img/ammar.jpg" %}" alt="">
            <h4>Moh. Ammar Ramadhan</h4>
            <p class="text-muted">Coverage and Presentation</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://gitlab.com/muhammarr61">
                  <i class="fab fa-gitlab"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/mohammarr/"> 
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}