{% load staticfiles %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>{{response.pageTitle}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Agas Yanpratama">
    <!-- Agency -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'agency/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <!-- Custom fonts for this template -->
    <link href="{% static 'agency/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'agency/css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'css/template_app.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <!--########################################################################################-->

    <!-- loader -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}" />
    <script src="{% static 'js/loader.js' %}"></script>
    

    <!-- ico -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>

<body id = "page-top" onload="myFunction()" style="width:100%;margin: 0px;padding: 0px">
  <!-- Loader -->
    <div id="loader"></div>
  <!-- Ends -->
    <div id="myDiv">
    <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-arrow-circle-up fa-stack-1x fa-inverse"></i></button>
    <header>
      {% include "partials/navbar.html" %}
    </header>
  
    <content>
      {% block content %}
      <!-- content is placed here -->
      {% endblock content %}
    </content>

    {% include "partials/footer.html" %}
    </div>
    <!-- JS -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'agency/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'agency/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'agency/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Date Time Settings -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/top.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'agency/js/agency.js' %}"></script>
</body>
</html>
  