{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<header class="bgimg2 masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">Select Database You Want to See</div>
            <div class="row">
            <div class="col-sm-4"><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="hotel">Hotel</a></div>
            <div class="col-sm-4 button-mobile-fix"><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="attraction">Tempat Wisata</a></div>
            <div class="col-sm-4 button-mobile-fix"><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="restoran">Restoran</a></div>
            </div>
        </div>
    </div>
</header>
{% endblock %}