{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<header class="bgimgresto masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">List Restaurant On Our Database</div>
            <div class="intro-heading text-uppercase">Click the image to learn more</div>
            </div>
        </div>
    </div>
</header>
{% if response.nothing == 'True' %}
    <h2 class="section-heading text-uppercase alert alert-warning">Tidak ada Restoran yang terdaftar!</h2>
{% else %}
<!-- Restoran  Grid -->
<section class="bg-light" id="portfolio" style="padding-top: 5%;padding-bottom:5% ">
        <div class="container">
            <div class="row">
            {% for restoran in restorans %}
            <div class="col-md-4 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{restoran.id}}">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="{{restoran.img_URL}}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{restoran.name}}</h4>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3%}
            </div>
            <div class="row">
            {% endif %}

            {% endfor %}
            </div>
        </div>
    <div class="row">
    <div class="text-center pagination-mobile-fix">
            {% if restorans.has_other_pages %}
                <ul class="pagination" style="text-align:center">
            {% if restorans.has_previous %}
                <li><a class="page-link" href="?page={{ restorans.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link"    >&laquo;</span></li>
            {% endif %}
            {% for i in restorans.paginator.page_range %}
            {% if restorans.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if restorans.has_next %}
                <li><a class="page-link" href="?page={{ restorans.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    </div>
</section>

<!-- Modal -->
{% for restoran in restorans %}
<div class="portfolio-modal modal fade" id="portfolioModal{{restoran.id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="padding-bottom:1%;padding-top: 100px; max-width:95%">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="text-uppercase">{{restoran.name}}</h2>
                    <p class="item-intro text-muted">{{restoran.desc}}</p>
                    <img class="img-fluid d-block mx-auto" src="{{restoran.img_URL}}" alt="">
                    <ul class="list-inline">
                        <li>Alamat: {{restoran.address}}</li>
                        <li>Harga: {{restoran.price}}</li>
                        <li>Waktu Rata - rata di restoran:  {{restoran.time_minute}}</li>
                        <li>Jam Buka Tutup Hari Biasa: {{restoran.weekday_from_hour}} - {{restoran.weekday_to_hour}}</li>
                        <li>Jam Buka Tutup Akhir Pekan: {{restoran.weekend_from_hour}} - {{restoran.weekend_to_hour}}</li>
                    </ul>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fas fa-times"></i>
                        Close Description</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
{% endfor %}
{% endif %}
{% endblock %}